dify/ke-01-source-anchor-improved.dsl.yml
# =============================================================================
# Dify 工作流 DSL · 知识萃取「源头锚定」
# -----------------------------------------------------------------------------
# 对应前端：SourceAnchorStep 全部字段 → 锚定分析结果
# API：POST .../workflows/run，inputs 使用下方 snake_case
# 结束节点输出 anchor_package（JSON字符串）
# 重要：version 必须为字符串 "0.6.0"；LLM 节点必须含 context / vision 字段
# =============================================================================

version: "0.6.0"
kind: app
app:
  name: 知识萃取-源头锚定
  description: 根据萃取目标、受众、场景与素材文本，输出结构化锚定分析（anchor_package JSON）
  icon_type: emoji
  icon: '⚓'
  icon_background: '#DBEAFE'
  mode: workflow
  use_icon_as_answer_icon: false

dependencies: []

workflow:
  conversation_variables: []
  environment_variables: []
  features: {}

  graph:
    nodes:
      - id: start
        type: custom
        position:
          x: 80
          y: 160
        positionAbsolute:
          x: 80
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: start
          title: 开始
          desc: ''
          variables:
            - variable: mode
              label: 萃取模式（course 或 manual）
              type: paragraph
              required: false
              max_length: 64
            - variable: extract_goal
              label: 萃取目标
              type: paragraph
              required: false
              max_length: 8192
            - variable: target_audience
              label: 目标受众
              type: paragraph
              required: false
              max_length: 4096
            - variable: use_scenes
              label: 应用场景（JSON 数组字符串）
              type: paragraph
              required: false
              max_length: 2048
            - variable: course_title
              label: 关联课程标题
              type: paragraph
              required: false
              max_length: 2048
            - variable: material_bundle_text
              label: 素材合并文本（大纲/PPT/讲稿/音频转写）
              type: paragraph
              required: false
              max_length: 120000

      - id: llm_anchor
        type: custom
        position:
          x: 400
          y: 160
        positionAbsolute:
          x: 400
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: llm
          title: 源头锚定分析
          desc: 输出 JSON 字符串，勿使用 Markdown 代码块
          model:
            provider: ''
            name: ''
            mode: chat
            completion_params:
              temperature: 0.2
              max_tokens: 4096
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
          prompt_template:
            - role: system
              edition_type: basic
              text: |-
                你是企业知识萃取专家，擅长将培训课程内容转化为可复用的标准化知识资产。

                请根据用户提供的萃取目标、受众、应用场景和素材内容，完成「源头锚定」分析。

                你必须只输出一个合法 JSON 对象（不要 Markdown 代码围栏，不要任何多余文字），格式如下：
                {
                  "anchor_summary": "2-4句话，概括本次萃取的核心范围与重点",
                  "scope_in": ["应纳入萃取的主题或知识点1", "主题2", "主题3"],
                  "scope_out": ["明确排除的内容1", "内容2"],
                  "material_inventory": [
                    {"kind": "素材类型", "status": "ok", "note": "简要评估"},
                    {"kind": "素材类型", "status": "weak", "note": "简要评估"},
                    {"kind": "素材类型", "status": "missing", "note": "简要评估"}
                  ],
                  "gaps": ["需要补充的材料或信息1", "信息2"],
                  "downstream_hints": "给下一步分层筛选的一句具体建议"
                }

                字段说明：
                - status 取值：ok（内容完整可用）、weak（内容有但质量待提升）、missing（缺少该类型素材）
                - 确保输出可被 JSON.parse 直接解析，不得有尾随逗号、注释等非法 JSON 语法
            - role: user
              edition_type: basic
              text: |-
                萃取模式：{{#start.mode#}}

                萃取目标：
                {{#start.extract_goal#}}

                目标受众：{{#start.target_audience#}}

                应用场景：{{#start.use_scenes#}}

                关联课程：{{#start.course_title#}}

                素材内容：
                {{#start.material_bundle_text#}}

                请输出 JSON 格式的锚定分析结果。

      - id: end
        type: custom
        position:
          x: 720
          y: 160
        positionAbsolute:
          x: 720
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: end
          title: 结束
          desc: ''
          outputs:
            - variable: anchor_package
              value_selector:
                - llm_anchor
                - text

    edges:
      - id: start-llm_anchor
        type: custom
        source: start
        sourceHandle: source
        target: llm_anchor
        targetHandle: target
        data:
          sourceType: start
          targetType: llm
          isInIteration: false
        zIndex: 0
      - id: llm_anchor-end
        type: custom
        source: llm_anchor
        sourceHandle: source
        target: end
        targetHandle: target
        data:
          sourceType: llm
          targetType: end
          isInIteration: false
        zIndex: 0
