dify/ke-03-structured-refinement.dsl.yml
# =============================================================================
# Dify 工作流 DSL · 知识萃取「结构化提炼」Step 3
# -----------------------------------------------------------------------------
# 输入：anchor_package（Step1）+ filter_items_json（Step2已选条目）+ 目标信息
# 输出：structured_result（JSON字符串，含4个模块）
# 注意：version 必须字符串；LLM 节点必须含 context / vision 字段
# =============================================================================

version: "0.6.0"
kind: app
app:
  name: 知识萃取-结构化提炼
  description: 将分层筛选的知识条目整合提炼为「核心知识-案例素材-实操工具-优化建议」四层结构成果
  icon_type: emoji
  icon: '🏗️'
  icon_background: '#F0FDF4'
  mode: workflow
  use_icon_as_answer_icon: false

dependencies: []

workflow:
  conversation_variables: []
  environment_variables: []
  features: {}

  graph:
    nodes:
      - id: start
        type: custom
        position:
          x: 80
          y: 160
        positionAbsolute:
          x: 80
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: start
          title: 开始
          desc: ''
          variables:
            - variable: anchor_package
              label: Step1锚定包（JSON字符串）
              type: paragraph
              required: false
              max_length: 8192
            - variable: filter_items_json
              label: Step2已选知识条目（JSON数组字符串）
              type: paragraph
              required: false
              max_length: 60000
            - variable: extract_goal
              label: 萃取目标
              type: paragraph
              required: false
              max_length: 8192
            - variable: target_audience
              label: 目标受众
              type: paragraph
              required: false
              max_length: 4096

      - id: llm_refine
        type: custom
        position:
          x: 400
          y: 160
        positionAbsolute:
          x: 400
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: llm
          title: 结构化提炼
          desc: 将知识条目整合为四层结构成果，输出 JSON
          model:
            provider: ''
            name: ''
            mode: chat
            completion_params:
              temperature: 0.3
              max_tokens: 6000
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
          prompt_template:
            - role: system
              edition_type: basic
              text: |-
                你是企业知识萃取专家，专注于将筛选后的知识条目深度提炼为结构清晰、可直接落地的高价值知识资产包。

                ## 核心使命
                将零散知识条目升华为"四层成果"：深度方法论资产、STAR结构案例库、可直接使用的工具包、精准优化建议。每个成果必须具备独立使用价值，无需依赖原始材料。

                ## 第一层：core_knowledge（核心知识资产）
                整合 explicit 和 tacit 类型条目，提炼为深度知识资产（3-6条）：
                - **type** 必须是：方法论 / SOP标准流程 / 判断框架 / 操作规范 / 经验原则 之一
                - **content**（250-500字）：定义（是什么）+ 核心价值（为什么重要）+ 适用场景（什么时候用）
                - **method_steps**：若为方法论/SOP/流程，必须拆解为3-7个编号操作步骤，每步含具体操作+判断标准（每步30-60字）；若为原则类则写3-5条原则
                - **key_principles**：2-4条执行要点或注意事项（每条15-30字）
                - **applicable_when**：适用情境说明（20-50字）

                ## 第二层：case_materials（案例素材库）
                从 practice 类型和隐性经验中提炼（2-4条），每条必须遵循 STAR 结构：
                - **situation**：背景与挑战（1-2句，说明当时面临什么情况/问题）
                - **task**：目标任务（1句，需要解决/达成什么）
                - **action**：关键行动（3-5条具体做法，每条15-30字，体现方法论价值）
                - **result**：成果结果（含可量化数据或具体变化描述）
                - **content**：案例完整叙述（150-250字，整合STAR四要素，流畅可读）
                - **highlight**：核心可借鉴点（1-2条，每条15-25字，说明可迁移的经验）

                ## 第三层：practical_tools（实操工具包）
                基于知识条目推导可直接使用的工具（2-4条）：
                - **format**：检查清单 / 工作模板 / 评分表 / 话术脚本 / 操作手册页 / 决策矩阵
                - **tool_content**：工具的实际可用内容（200-400字）：
                  * 检查清单：列出5-8个具体可执行的检查条目（每条10-25字）
                  * 工作模板：列出3-6个字段名称+填写说明
                  * 话术脚本：写出3-5个关键情境的参考话术
                  * 操作手册：写出分步操作说明
                - **desc**：使用说明（何时用/如何用，50-80字）

                ## 第四层：optimization_suggestions（优化建议）
                3-5条，每条包含：现状问题 + 优化方向 + 预期效果（40-80字），high优先级至少2条

                ## 输出格式
                只输出合法 JSON 对象（不要 Markdown 代码围栏，不要任何多余文字）：
                {
                  "core_knowledge": [
                    {
                      "id": "ck1",
                      "title": "标题（10-25字，体现核心方法价值）",
                      "type": "方法论/SOP标准流程/判断框架/操作规范/经验原则",
                      "content": "深度内容（250-500字，定义+价值+场景）",
                      "method_steps": ["第一步：具体操作+判断标准", "第二步：...", "第三步：..."],
                      "key_principles": ["要点1", "要点2"],
                      "applicable_when": "适用情境说明",
                      "tags": ["标签1", "标签2", "标签3"]
                    }
                  ],
                  "case_materials": [
                    {
                      "id": "cm1",
                      "title": "案例标题（体现核心结果或价值）",
                      "source": "来源",
                      "situation": "背景情境（1-2句）",
                      "task": "目标任务（1句）",
                      "action": "关键行动1；关键行动2；关键行动3",
                      "result": "成果结果（含量化或具体变化）",
                      "content": "案例完整叙述（150-250字）",
                      "highlight": "可借鉴点1；可借鉴点2"
                    }
                  ],
                  "practical_tools": [
                    {
                      "id": "pt1",
                      "title": "工具名称",
                      "format": "检查清单/工作模板/话术脚本/评分表/操作手册",
                      "tool_content": "工具实际内容（200-400字，直接可用的条目/字段/话术）",
                      "desc": "使用说明（何时用/如何用，50-80字）"
                    }
                  ],
                  "optimization_suggestions": [
                    {
                      "id": "os1",
                      "content": "建议内容（现状+优化方向+预期效果，40-80字）",
                      "priority": "high或medium"
                    }
                  ]
                }

                ## 整合规则
                - core_knowledge 必须填写 method_steps（方法论/SOP类型必须有步骤，原则类型可写原则列表）
                - case_materials 每条必须遵循 STAR 结构，action 字段至少3条行动
                - practical_tools 的 tool_content 必须是可直接使用的内容，不能只写描述
                - 所有内容与锚定 scope_in 一致，不超出范围
                - 确保输出可被 JSON.parse 直接解析

            - role: user
              edition_type: basic
              text: |-
                # 源头锚定结果
                {{#start.anchor_package#}}

                # 萃取目标
                {{#start.extract_goal#}}

                # 目标受众
                {{#start.target_audience#}}

                # 已筛选知识条目（来自Step2）
                {{#start.filter_items_json#}}

                请基于以上内容，输出结构化提炼成果（JSON 对象）：

      - id: end
        type: custom
        position:
          x: 720
          y: 160
        positionAbsolute:
          x: 720
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: end
          title: 结束
          desc: ''
          outputs:
            - variable: structured_result
              value_selector:
                - llm_refine
                - text

    edges:
      - id: start-llm_refine
        type: custom
        source: start
        sourceHandle: source
        target: llm_refine
        targetHandle: target
        data:
          sourceType: start
          targetType: llm
          isInIteration: false
        zIndex: 0
      - id: llm_refine-end
        type: custom
        source: llm_refine
        sourceHandle: source
        target: end
        targetHandle: target
        data:
          sourceType: llm
          targetType: end
          isInIteration: false
        zIndex: 0
