dify/ke-02-layered-filter.dsl.yml
# =============================================================================
# Dify 工作流 DSL · 知识萃取「分层筛选」Step 2（稳定版）
# -----------------------------------------------------------------------------
# 输入：anchor_package（Step1 JSON 字符串）+ material_bundle_text + 目标信息
# 输出：knowledge_items（JSON 数组字符串，含分类/优先级/来源）
# 注意：version 必须字符串；LLM 节点必须含 context / vision 字段
# =============================================================================

version: "0.6.0"
kind: app
app:
  name: 知识萃取-分层筛选
  description: 根据Step1锚定结果对素材进行显性/隐性/实践知识的分类筛选和优先级评估
  icon_type: emoji
  icon: '📊'
  icon_background: '#FEF3C7'
  mode: workflow
  use_icon_as_answer_icon: false

dependencies: []

workflow:
  conversation_variables: []
  environment_variables: []
  features: {}

  graph:
    nodes:
      - id: start
        type: custom
        position:
          x: 80
          y: 160
        positionAbsolute:
          x: 80
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: start
          title: 开始
          desc: ''
          variables:
            - variable: anchor_package
              label: Step1输出的锚定包（JSON字符串）
              type: paragraph
              required: false
              max_length: 8192
            - variable: extract_goal
              label: 萃取目标
              type: paragraph
              required: false
              max_length: 8192
            - variable: target_audience
              label: 目标受众
              type: paragraph
              required: false
              max_length: 4096
            - variable: material_bundle_text
              label: 素材合并文本（大纲/PPT/讲稿/音频转写）
              type: paragraph
              required: false
              max_length: 120000

      - id: llm_filter
        type: custom
        position:
          x: 400
          y: 160
        positionAbsolute:
          x: 400
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: llm
          title: 知识分层筛选
          desc: 识别显性/隐性/实践知识并评估优先级，输出 JSON 数组
          model:
            provider: ''
            name: ''
            mode: chat
            completion_params:
              temperature: 0.3
              max_tokens: 6000
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
          prompt_template:
            - role: system
              edition_type: basic
              text: |-
                你是企业知识萃取专家，专注于将课程素材中的隐性经验、显性知识、优秀实践提炼为具有高度复用价值的深度知识资产。

                ## 知识萃取的核心使命
                知识萃取不是摘抄内容，而是提炼"方法论"——将个人经验升华为可迁移的原则、可执行的步骤、可参考的框架，让他人无需亲历即可应用。

                ## 知识分类定义
                - **显性知识(explicit)**：结构化的方法论、流程步骤、操作规范、决策框架（来自大纲、PPT）
                - **隐性知识(tacit)**：讲师的经验判断、决策依据、避坑原则、实操技巧（来自讲稿、音频）；必须升华为可迁移原则，而非仅描述"讲师说了什么"
                - **优秀实践(practice)**：具体成功案例，必须包含背景+关键行动+可量化结果+可借鉴要素

                ## 知识形态分类（knowledge_form）
                为每条知识标注其最适合的输出形态：
                - **方法论**：一套可解释、可传授的思考框架或原则体系
                - **SOP流程**：标准化操作步骤，按顺序执行可复现结果
                - **操作清单**：执行前/中的检查点列表，防止遗漏
                - **判断框架**：帮助做决策的条件/标准/矩阵
                - **经验原则**：从实践归纳的规律性结论（隐性知识首选）
                - **案例分析**：STAR结构（情境+任务+关键行动+成果）
                - **工具模板**：可直接填写使用的结构化工具

                ## 结构化正文要求（structured_body）——本字段是萃取质量的核心
                根据 knowledge_form 确定格式，必须认真填写（200-500字）：
                - **SOP流程 / 操作清单**：写出3-7个编号步骤，每步含具体操作和关键判断点（每步30-60字）
                - **方法论 / 判断框架**：写出3-5个核心维度/原则，每个含定义+应用说明+示例
                - **经验原则**：写出3-5条"当……时，应该……（因为……）"的迁移规则
                - **案例分析**：按STAR格式，情境（1-2句）/任务（1句）/关键行动（3-5条）/成果（1-2句，含量化）
                - **工具模板**：写出3-8个可直接使用的字段、条目或填写项

                ## 优先级评定
                - **high**：直接支撑目标 + 包含可操作步骤/框架 + 复用性强 + 有 structured_body 深度内容
                - **medium**：有参考价值但需二次加工，或场景相对受限
                - **low**：泛泛而谈无具体方法，或与目标弱相关

                ## 输出要求
                只输出合法 JSON 数组（不要 Markdown 代码围栏，不要任何多余文字）：
                [
                  {
                    "id": "k1",
                    "type": "explicit 或 tacit 或 practice",
                    "knowledge_form": "方法论/SOP流程/操作清单/判断框架/经验原则/案例分析/工具模板",
                    "category": "贴近业务的细分标签（如：客户沟通/需求分析/团队管理/销售技巧等）",
                    "title": "标题（10-25字，动词或结果导向，如「五步完成客户需求诊断」而非「需求分析」）",
                    "content": "内容摘要（150-300字：定义+核心价值+适用场景，让读者理解这是什么以及为什么重要）",
                    "structured_body": "结构化正文（200-500字，按knowledge_form格式输出步骤/原则/案例/清单等，这是最核心的内容）",
                    "source": "来源标记（如：大纲第二章/PPT第5页/讲稿段落3/音频片段等）",
                    "priority": "high / medium / low",
                    "reusable": true或false,
                    "selected": true（high/medium）或false（low）
                  }
                ]

                ## 筛选与质量规则
                - 依据 scope_in 范围筛选，scope_out 内容一律排除
                - 三种类型各至少2条，总条目8-20条，质量优先于数量
                - 隐性知识必须升华为可迁移原则：提炼"为什么这样做""规律是什么"
                - 每条知识必须自给自足：读者无需查阅原材料即可理解并应用
                - structured_body 必须填写，不允许为空或只写一句话
                - 确保输出可被 JSON.parse 直接解析

            - role: user
              edition_type: basic
              text: |-
                # 源头锚定结果（Step1输出）
                {{#start.anchor_package#}}

                # 萃取目标
                {{#start.extract_goal#}}

                # 目标受众
                {{#start.target_audience#}}

                # 素材内容
                {{#start.material_bundle_text#}}

                请基于四大核心目标和锚定结果，对素材进行分层筛选，输出高价值知识条目（JSON 数组）：

      - id: end
        type: custom
        position:
          x: 720
          y: 160
        positionAbsolute:
          x: 720
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: end
          title: 结束
          desc: ''
          outputs:
            - variable: knowledge_items
              value_selector:
                - llm_filter
                - text

    edges:
      - id: start-llm_filter
        type: custom
        source: start
        sourceHandle: source
        target: llm_filter
        targetHandle: target
        data:
          sourceType: start
          targetType: llm
          isInIteration: false
        zIndex: 0
      - id: llm_filter-end
        type: custom
        source: llm_filter
        sourceHandle: source
        target: end
        targetHandle: target
        data:
          sourceType: llm
          targetType: end
          isInIteration: false
        zIndex: 0
