dify/ke-02-layered-filter.dsl.yml
# =============================================================================
# Dify 工作流 DSL · 知识萃取「分层筛选」Step 2（稳定版）
# -----------------------------------------------------------------------------
# 输入：anchor_package（Step1 JSON 字符串）+ material_bundle_text + 目标信息
# 输出：knowledge_items（JSON 数组字符串，含分类/优先级/来源）
# 注意：version 必须字符串；LLM 节点必须含 context / vision 字段
# =============================================================================

version: "0.6.0"
kind: app
app:
  name: 知识萃取-分层筛选
  description: 根据Step1锚定结果对素材进行显性/隐性/实践知识的分类筛选和优先级评估
  icon_type: emoji
  icon: '📊'
  icon_background: '#FEF3C7'
  mode: workflow
  use_icon_as_answer_icon: false

dependencies: []

workflow:
  conversation_variables: []
  environment_variables: []
  features: {}

  graph:
    nodes:
      - id: start
        type: custom
        position:
          x: 80
          y: 160
        positionAbsolute:
          x: 80
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: start
          title: 开始
          desc: ''
          variables:
            - variable: anchor_package
              label: Step1输出的锚定包（JSON字符串）
              type: paragraph
              required: false
              max_length: 8192
            - variable: extract_goal
              label: 萃取目标
              type: paragraph
              required: false
              max_length: 8192
            - variable: target_audience
              label: 目标受众
              type: paragraph
              required: false
              max_length: 4096
            - variable: material_bundle_text
              label: 素材合并文本（大纲/PPT/讲稿/音频转写）
              type: paragraph
              required: false
              max_length: 120000

      - id: llm_filter
        type: custom
        position:
          x: 400
          y: 160
        positionAbsolute:
          x: 400
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: llm
          title: 知识分层筛选
          desc: 识别显性/隐性/实践知识并评估优先级，输出 JSON 数组
          model:
            provider: ''
            name: ''
            mode: chat
            completion_params:
              temperature: 0.3
              max_tokens: 6000
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
          prompt_template:
            - role: system
              edition_type: basic
              text: |-
                你是企业培训知识萃取专家，专注于从面授课程素材中识别、分类、筛选出具有最高复用价值的知识资产。

                ## 萃取的四大核心目标（筛选判断依据）
                1. **沉淀可复用资产**：优先提取可标准化、可传承的知识，服务于企业知识库、新人带教、复训场景
                2. **衔接课程全闭环**：挖掘可为后续微课脚本、工具包等衍生产品提供素材的内容
                3. **保障内容一致性**：只保留与课程核心目标、学员需求高度对齐的内容，排除偏差和冗余
                4. **赋能实践落地**：重点萃取贴合学员真实工作场景、可直接套用的方法论、步骤、工具、案例

                ## 知识分类定义
                - **显性知识(explicit)**：可明确表达的结构化内容——知识点、流程步骤、方法论、操作规范（通常来自大纲、PPT）
                - **隐性知识(tacit)**：讲师的经验判断、实操技巧、避坑指南、决策依据（通常来自讲稿、音频、课堂语录）
                - **优秀实践(practice)**：学员或讲师的成功案例、真实场景应用、可借鉴范例

                ## 优先级评定标准
                - **high（高优先）**：直接支撑萃取目标 + 可复用性强 + 对实践落地有直接价值 → 默认选中
                - **medium（中优先）**：有价值但需要二次加工，或应用场景相对受限 → 默认选中
                - **low（低优先）**：偏离萃取目标、高度个性化难以复用、与工作场景关联弱 → 默认不选

                ## 可复用性判断标准（reusable）
                满足以下任意一项即为 true：
                - 可直接作为新人带教材料使用
                - 可转化为微课脚本的独立知识模块
                - 可制作为岗位工具包/操作手册/检查单
                - 可作为知识库词条直接复用

                ## 输出要求
                只输出一个合法 JSON 数组（不要 Markdown 代码围栏，不要任何多余文字）：
                [
                  {
                    "id": "唯一ID，如k1、k2",
                    "type": "explicit 或 tacit 或 practice",
                    "category": "细分标签（知识点/操作流程/方法论/经验技巧/避坑指南/判断标准/成功案例/工具模板等）",
                    "title": "简洁标题（10-25字，体现知识价值，而非仅描述内容）",
                    "content": "核心内容摘要（80-200字，包含：是什么 + 怎么用 + 适用场景，让读者无需原材料也能理解和应用）",
                    "source": "来源标记（如：大纲第二章/PPT第5页/讲稿段落3/音频片段等）",
                    "priority": "high 或 medium 或 low",
                    "reusable": true或false,
                    "selected": true（high/medium）或false（low）
                  }
                ]

                ## 筛选规则
                - 严格依据锚定结果的 scope_in 范围进行筛选，scope_out 中的内容不得纳入
                - 三种类型(explicit/tacit/practice)各至少提取 2 条（如素材有限可适当减少）
                - 总条目数控制在 8-20 条，宁缺毋滥，质量优先于数量
                - title 要体现知识价值（如「三步识别学员真实需求」优于「需求分析方法」）
                - content 要包含可操作的信息，让使用者无需查阅原材料也能直接应用
                - 确保输出可被 JSON.parse 直接解析

            - role: user
              edition_type: basic
              text: |-
                # 源头锚定结果（Step1输出）
                {{#start.anchor_package#}}

                # 萃取目标
                {{#start.extract_goal#}}

                # 目标受众
                {{#start.target_audience#}}

                # 素材内容
                {{#start.material_bundle_text#}}

                请基于四大核心目标和锚定结果，对素材进行分层筛选，输出高价值知识条目（JSON 数组）：

      - id: end
        type: custom
        position:
          x: 720
          y: 160
        positionAbsolute:
          x: 720
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: end
          title: 结束
          desc: ''
          outputs:
            - variable: knowledge_items
              value_selector:
                - llm_filter
                - text

    edges:
      - id: start-llm_filter
        type: custom
        source: start
        sourceHandle: source
        target: llm_filter
        targetHandle: target
        data:
          sourceType: start
          targetType: llm
          isInIteration: false
        zIndex: 0
      - id: llm_filter-end
        type: custom
        source: llm_filter
        sourceHandle: source
        target: end
        targetHandle: target
        data:
          sourceType: llm
          targetType: end
          isInIteration: false
        zIndex: 0
