dify/ke-04-reextract-item.dsl.yml
# =============================================================================
# Dify 工作流 DSL · 知识萃取「重新提取单条」Step 4 辅助工作流
# -----------------------------------------------------------------------------
# 功能：对单条知识进行 AI 二次优化，生成更完整准确的 2.0 版本
# 输入：item_title + item_content + item_type + extract_goal + anchor_summary
# 输出：optimized_content（优化后的内容字符串）
# =============================================================================

version: "0.6.0"
kind: app
app:
  name: 知识萃取-重新提取单条
  description: 对单条知识进行AI二次优化，生成更完整准确、更贴近实践落地的2.0版本内容
  icon_type: emoji
  icon: '🔄'
  icon_background: '#FFF7ED'
  mode: workflow
  use_icon_as_answer_icon: false

dependencies: []

workflow:
  conversation_variables: []
  environment_variables: []
  features: {}

  graph:
    nodes:
      - id: start
        type: custom
        position:
          x: 80
          y: 160
        positionAbsolute:
          x: 80
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: start
          title: 开始
          desc: ''
          variables:
            - variable: item_title
              label: 知识条目标题
              type: paragraph
              required: true
              max_length: 512
            - variable: item_content
              label: 当前知识内容（1.0版本）
              type: paragraph
              required: true
              max_length: 8192
            - variable: item_type
              label: 知识类型（explicit/tacit/practice）
              type: paragraph
              required: false
              max_length: 64
            - variable: extract_goal
              label: 本次萃取目标
              type: paragraph
              required: false
              max_length: 4096
            - variable: anchor_summary
              label: 源头锚定摘要（提供上下文）
              type: paragraph
              required: false
              max_length: 2048

      - id: llm_reextract
        type: custom
        position:
          x: 400
          y: 160
        positionAbsolute:
          x: 400
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: llm
          title: AI 重新提取优化
          desc: 基于四大目标优化单条知识内容
          model:
            provider: ''
            name: ''
            mode: chat
            completion_params:
              temperature: 0.4
              max_tokens: 2048
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
          prompt_template:
            - role: system
              edition_type: basic
              text: |-
                你是企业知识萃取专家，专注于将单条知识深度优化为具有独立使用价值的高质量知识资产。

                ## 核心优化原则
                1. **方法可操作**：有具体步骤或操作指导，而非泛泛描述
                2. **经验可迁移**：从个人经验提炼为普适原则，他人可直接借鉴应用
                3. **内容自给自足**：读者无需任何其他材料即可理解并执行
                4. **结构分层清晰**：用粗体标题组织内容层次，便于快速扫读

                ## 按知识类型选择输出结构

                ### explicit（显性知识 / 方法论 / SOP）
                **【核心定义】** 是什么（1-2句，清晰定义）
                **【适用场景】** 什么情况下使用（1-2句，明确触发条件）
                **【操作步骤】**
                1. 第一步：具体做什么 + 关键判断标准（30-50字）
                2. 第二步：……
                3. ……（共3-6步，步步可执行）
                **【关键要点】**
                · 要点1（执行中最容易出错的地方）
                · 要点2（成功的关键因素）
                **【避坑提示】** 1-2条常见失败原因及规避方法

                ### tacit（隐性知识 / 经验原则）
                **【经验背景】** 在什么情境/挑战下形成了这条经验（1-2句）
                **【核心洞见】** 最重要的判断或规律是什么（1-2句，提炼本质）
                **【应用规则】**
                · 当……时，应该……（因为……）
                · 当……时，避免……（因为……）
                · ……（共2-4条"情境→行动→原因"的迁移规则）
                **【实践落地】** 如何在日常工作中持续应用这条原则（1-2句）
                **【衡量标准】** 如何判断这条经验被正确应用了（1-2条）

                ### practice（优秀实践 / 案例）
                **【情境背景】** 时间/场景/面临的具体挑战（1-2句）
                **【目标任务】** 需要解决什么问题或达成什么目标（1句）
                **【关键行动】**
                1. ……（具体做了什么，30-40字）
                2. ……
                3. ……（共3-5个关键行动）
                **【成果结果】** 具体产出或改变（尽量量化，如"提升XX%"或"缩短XX时间"）
                **【可借鉴点】**
                · 经验1：从这个案例中可迁移到其他场景的规律（20-30字）
                · 经验2：……

                ## 输出要求
                直接输出优化后的纯文本内容（不要 JSON，不要任何解释说明，不要"以下是优化后"之类的前缀）。
                使用 **粗体** 标注各区块标题。总长度 300-600 字，结构清晰，格式统一，可直接复制使用。

            - role: user
              edition_type: basic
              text: |-
                知识标题：{{#start.item_title#}}

                知识类型：{{#start.item_type#}}

                当前内容（1.0版本，需要优化）：
                {{#start.item_content#}}

                本次萃取目标：{{#start.extract_goal#}}

                锚定上下文：{{#start.anchor_summary#}}

                请优化上述知识内容，输出更完整、更具实践价值的 2.0 版本：

      - id: end
        type: custom
        position:
          x: 720
          y: 160
        positionAbsolute:
          x: 720
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: end
          title: 结束
          desc: ''
          outputs:
            - variable: optimized_content
              value_selector:
                - llm_reextract
                - text

    edges:
      - id: start-llm_reextract
        type: custom
        source: start
        sourceHandle: source
        target: llm_reextract
        targetHandle: target
        data:
          sourceType: start
          targetType: llm
          isInIteration: false
        zIndex: 0
      - id: llm_reextract-end
        type: custom
        source: llm_reextract
        sourceHandle: source
        target: end
        targetHandle: target
        data:
          sourceType: llm
          targetType: end
          isInIteration: false
        zIndex: 0
