dify/ke-01-source-anchor-improved.dsl.yml
# =============================================================================
# Dify 工作流 DSL · 知识萃取「源头锚定」
# -----------------------------------------------------------------------------
# 对应前端：SourceAnchorStep 全部字段 → 锚定分析结果
# API：POST .../workflows/run，inputs 使用下方 snake_case
# 结束节点输出 anchor_package（JSON字符串）
# 重要：version 必须为字符串 "0.6.0"；LLM 节点必须含 context / vision 字段
# =============================================================================

version: "0.6.0"
kind: app
app:
  name: 知识萃取-源头锚定
  description: 根据萃取目标、受众、场景与素材文本，输出结构化锚定分析（anchor_package JSON）
  icon_type: emoji
  icon: '⚓'
  icon_background: '#DBEAFE'
  mode: workflow
  use_icon_as_answer_icon: false

dependencies: []

workflow:
  conversation_variables: []
  environment_variables: []
  features: {}

  graph:
    nodes:
      - id: start
        type: custom
        position:
          x: 80
          y: 160
        positionAbsolute:
          x: 80
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: start
          title: 开始
          desc: ''
          variables:
            - variable: mode
              label: 萃取模式（course 或 manual）
              type: paragraph
              required: false
              max_length: 64
            - variable: extract_goal
              label: 萃取目标
              type: paragraph
              required: false
              max_length: 8192
            - variable: target_audience
              label: 目标受众
              type: paragraph
              required: false
              max_length: 4096
            - variable: use_scenes
              label: 应用场景（JSON 数组字符串）
              type: paragraph
              required: false
              max_length: 2048
            - variable: course_title
              label: 关联课程标题
              type: paragraph
              required: false
              max_length: 2048
            - variable: material_bundle_text
              label: 素材合并文本（大纲/PPT/讲稿/音频转写）
              type: paragraph
              required: false
              max_length: 120000

      - id: llm_anchor
        type: custom
        position:
          x: 400
          y: 160
        positionAbsolute:
          x: 400
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: llm
          title: 源头锚定分析
          desc: 输出 JSON 字符串，勿使用 Markdown 代码块
          model:
            provider: ''
            name: ''
            mode: chat
            completion_params:
              temperature: 0.2
              max_tokens: 4096
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
          prompt_template:
            - role: system
              edition_type: basic
              text: |-
                你是企业培训知识萃取专家，专注于将面授课程成果转化为可复用的标准化知识资产。

                ## 萃取的四大核心目标
                1. **沉淀可复用资产**：将课程中的显性知识点、讲师隐性经验、学员优秀实践，转化为标准化、可传承、可复用的知识资产，服务于企业知识库、新人带教、复训等场景。
                2. **衔接课程全闭环**：承接前期需求分析、大纲、PPT课件成果，同时为后续微课脚本等配套内容开发提供精准素材，打通「课程开发-授课-萃取-后续转化」完整链路。
                3. **保障内容一致性**：确保萃取的所有内容与前期课程核心目标、学员需求、授课内容完全对齐，无偏差、无冗余、无错误。
                4. **赋能实践落地**：萃取的知识需贴合学员真实工作场景，包含可直接套用的方法论、步骤、案例，实现培训成果向工作实践的转化。

                ## 你的任务
                完成「源头锚定」分析：划定本次萃取的内容边界、评估素材完整度、为后续分层筛选提供精准方向。

                ## 输出要求
                只输出一个合法 JSON 对象（不要 Markdown 代码围栏，不要任何多余文字）：
                {
                  "anchor_summary": "3-5句话：概括本次萃取的核心定位、主要萃取方向，以及对「可复用性」和「实践落地」的判断",
                  "scope_in": [
                    "与萃取目标直接对应、可转化为可复用资产的核心知识主题",
                    "讲师经验或隐性技巧（具备推广复用价值的）",
                    "贴合学员真实工作场景、可直接套用的方法/工具/案例"
                  ],
                  "scope_out": [
                    "与本次课程目标无关的扩展内容",
                    "过于个性化、难以标准化复用的内容",
                    "与后续微课或知识库建设方向不符的内容"
                  ],
                  "material_inventory": [
                    {"kind": "素材类型（如：三级大纲/PPT课件/讲稿/音频转写/学员作业）", "status": "ok或weak或missing", "note": "评估该素材对四大目标的支撑程度"}
                  ],
                  "gaps": [
                    "缺少但对可复用资产沉淀至关重要的素材",
                    "缺少但对实践落地场景描述有帮助的信息"
                  ],
                  "downstream_hints": "给下一步分层筛选的具体建议：优先萃取哪类知识、重点关注哪些模块、哪些内容最具复用价值"
                }

                字段说明：
                - status：ok（完整可用）、weak（有但质量待提升）、missing（缺失）
                - 所有判断需紧扣四大核心目标，尤其关注「可复用性」和「实践落地」
                - 确保输出可被 JSON.parse 直接解析，不得有尾随逗号、注释等非法 JSON 语法
            - role: user
              edition_type: basic
              text: |-
                萃取模式：{{#start.mode#}}

                萃取目标：
                {{#start.extract_goal#}}

                目标受众：{{#start.target_audience#}}

                应用场景：{{#start.use_scenes#}}

                关联课程：{{#start.course_title#}}

                素材内容：
                {{#start.material_bundle_text#}}

                请基于四大核心目标，输出 JSON 格式的源头锚定分析结果。

      - id: end
        type: custom
        position:
          x: 720
          y: 160
        positionAbsolute:
          x: 720
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: end
          title: 结束
          desc: ''
          outputs:
            - variable: anchor_package
              value_selector:
                - llm_anchor
                - text

    edges:
      - id: start-llm_anchor
        type: custom
        source: start
        sourceHandle: source
        target: llm_anchor
        targetHandle: target
        data:
          sourceType: start
          targetType: llm
          isInIteration: false
        zIndex: 0
      - id: llm_anchor-end
        type: custom
        source: llm_anchor
        sourceHandle: source
        target: end
        targetHandle: target
        data:
          sourceType: llm
          targetType: end
          isInIteration: false
        zIndex: 0
