dify/ke-05-validation-evaluation.dsl.yml
# =============================================================================
# Dify 工作流 DSL · 知识萃取「校验闭环-质量评估」Step 4
# -----------------------------------------------------------------------------
# 输入：structured_result_json（Step3全部成果）+ extract_goal + target_audience
# 输出：validation_result（JSON数组，每条知识含3维度评分 + 综合状态）
# 评估维度：
#   · knowledge_accuracy  知识准确性（0-100）
#   · goal_alignment      目标对齐性（0-100）
#   · reuse_value         复用价值性（0-100）
# 状态阈值：overall>=80 → pass，60-79 → needs_review，<60 → fail
# =============================================================================

version: "0.6.0"
kind: app
app:
  name: 知识萃取-校验闭环质量评估
  description: 对Step3结构化成果中每条知识进行准确性、目标对齐性、复用价值三维度AI评分，输出质量评估报告
  icon_type: emoji
  icon: '✅'
  icon_background: '#EFF6FF'
  mode: workflow
  use_icon_as_answer_icon: false

dependencies: []

workflow:
  conversation_variables: []
  environment_variables: []
  features: {}

  graph:
    nodes:
      - id: start
        type: custom
        position:
          x: 80
          y: 160
        positionAbsolute:
          x: 80
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: start
          title: 开始
          desc: ''
          variables:
            - variable: structured_result_json
              label: Step3结构化成果（JSON字符串）
              type: paragraph
              required: false
              max_length: 80000
            - variable: extract_goal
              label: 萃取目标
              type: paragraph
              required: false
              max_length: 8192
            - variable: target_audience
              label: 目标受众
              type: paragraph
              required: false
              max_length: 4096

      - id: llm_validate
        type: custom
        position:
          x: 400
          y: 160
        positionAbsolute:
          x: 400
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: llm
          title: 质量三维度评估
          desc: 对每条知识进行准确性、目标对齐性、复用价值三维度评分
          model:
            provider: ''
            name: ''
            mode: chat
            completion_params:
              temperature: 0.2
              max_tokens: 8000
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
          prompt_template:
            - role: system
              edition_type: basic
              text: |-
                你是企业培训知识质量评估专家，负责对萃取成果进行严格的三维度质量评估，核心检验知识的深度、结构化程度和实践可用性。

                ## 评估基准（四大萃取目标）
                1. **沉淀可复用资产**：知识能否标准化传承，服务企业知识库、新人带教、复训
                2. **衔接课程全闭环**：能否为微课脚本、工具包等后续开发提供精准素材
                3. **保障内容一致性**：与课程目标、学员需求完全对齐，无偏差无冗余
                4. **赋能实践落地**：知识贴合真实工作场景，包含可直接套用的方法步骤

                ## 三大评估维度（每维度 0-100 分）

                ### 维度一：知识深度与准确性（knowledge_accuracy）
                评估要素：
                - 内容是否准确无误，无错误或误导性表述（15分）
                - 知识是否具有足够深度，超越表面描述，提炼出规律、原则或方法论（30分）
                - 是否包含可操作的步骤、框架或判断标准（而非泛泛而谈）（30分）
                - 表述是否结构清晰，层次分明，无歧义（25分）
                ★ 注意：仅有概念描述、缺乏操作步骤或方法论框架的内容，此维度不超过55分

                ### 维度二：目标对齐性（goal_alignment）
                评估要素：
                - 与萃取目标的相关程度（35分）
                - 是否覆盖目标受众的核心需求和工作痛点（30分）
                - 知识粒度是否适合目标受众水平（20分）
                - 是否能直接支撑业务场景的实际工作（15分）

                ### 维度三：复用与实践价值（reuse_value）
                评估要素：
                - 可否直接迁移到带教、复训、知识库场景（25分）
                - 是否包含可执行的步骤、清单、工具或模板（25分）
                - 知识是否自给自足：无需其他材料读者即可理解并应用（25分）
                - 在不同业务场景下的通用性和扩展性（25分）
                ★ 注意：content不足150字的条目，此维度不超过55分

                ## 综合状态判定
                - overall（三维度均值）>= 80：status = "pass"（质量达标，内容深度和可操作性均符合标准）
                - overall 60-79：status = "needs_review"（深度或结构化不足，需补充操作步骤或方法论框架）
                - overall < 60：status = "fail"（内容过于表浅或无法实际应用，需重新提取）

                ## 优化建议要求
                - pass：可为空，或锦上添花（如"可补充量化指标"）
                - needs_review：必须具体指出不足（如"缺少操作步骤""未说明适用场景""经验未升华为原则"）并给出改进方向
                - fail：说明根本问题，建议重新提取的方向

                ## 输出格式
                只输出合法 JSON 数组（不要 Markdown 围栏，不要多余文字）：
                [
                  {
                    "id": "条目原始id",
                    "knowledge_accuracy": 85,
                    "knowledge_accuracy_reason": "深度与准确性评估（20字以内）",
                    "goal_alignment": 90,
                    "goal_alignment_reason": "目标对齐性评估（20字以内）",
                    "reuse_value": 80,
                    "reuse_value_reason": "复用实践价值评估（20字以内）",
                    "overall": 85,
                    "status": "pass",
                    "suggestion": "优化建议（pass可为空；needs_review/fail必须给出1-2句具体可操作建议）"
                  }
                ]

                ## 重要注意事项
                - 必须为每一条 core_knowledge 和 case_materials 生成评估
                - practical_tools 和 optimization_suggestions 不参与评分
                - 评分严格基于内容本身，对"正确但无方法""有信息但无结构"要给出较低分数
                - 确保输出可被 JSON.parse 直接解析，不得有任何额外字符

            - role: user
              edition_type: basic
              text: |-
                # 萃取目标
                {{#start.extract_goal#}}

                # 目标受众
                {{#start.target_audience#}}

                # Step3 结构化成果（需评估 core_knowledge 和 case_materials 中的每一条）
                {{#start.structured_result_json#}}

                请对以上所有 core_knowledge 和 case_materials 条目进行三维度质量评估，输出 JSON 数组：

      - id: end
        type: custom
        position:
          x: 720
          y: 160
        positionAbsolute:
          x: 720
          y: 160
        width: 242
        height: 98
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: end
          title: 结束
          desc: ''
          outputs:
            - variable: validation_result
              value_selector:
                - llm_validate
                - text

    edges:
      - id: start-llm_validate
        type: custom
        source: start
        sourceHandle: source
        target: llm_validate
        targetHandle: target
        data:
          sourceType: start
          targetType: llm
          isInIteration: false
        zIndex: 0
      - id: llm_validate-end
        type: custom
        source: llm_validate
        sourceHandle: source
        target: end
        targetHandle: target
        data:
          sourceType: llm
          targetType: end
          isInIteration: false
        zIndex: 0
